*{
    margin: 0;
    padding: 0;
}
body {
 background: url(moon.jpg);   
 background-position: center;
 /* max width:100vw; */
 /* max height:100vh ; */
 background-size:cover ;
 background-attachment:fixed ;
  }
.nev ul li  {
    
    text-align: top ;
    float: right;
    margin: 2vw;
    display: inline block;

}
.search  {
    position: absolute;
    left: 16vw;
    margin: 0.8vh;

    
}
.nev ul li a  {
    font-size: 20px;
    color: white;
    text-decoration: solid;
    padding: 0.9vw 1.9vh;
    transition: .4s;
}
.nev ul li a.active,
.nev ul li a:hover {
    background: red;
    border-radius: 2px;
}
 .past {
    position: absolute;
    left: 60vw;
    bottom: 15vh;
} 
.border {
    position: absolute;
    border: solid red;
    left: 25.5vw;
    width: 25vw;
    /* height: 50px; */
    padding: 4vh;
    /* margin: vh; */
    border-radius: 30px;
    bottom: 10vh;


}
.border i   {

    color: rgb(255, 217, 0);
    text-decoration: solid;
    font-size: 40px;
    padding: 50px;
}
.logo {
    margin: 0.4vw;
}
.button {
    position: absolute;
    text-align: center;
    left: 27vw;
    
    bottom: 25vw;
}
.radio {
    position: absolute;
    bottom: 45vh;
    padding: 0.9vw;
}
.second {
    position: absolute;
    bottom: 36vh;
    left: 0.9vw;
    padding: 2vw;
}